@font-face {
    font-family: "GloberRegular";
    src: url("../fonts/GloberRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "GloberLight";
    src: url("../fonts/GloberLight.otf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
			font-family: "GloberBold";
			src: url("../fonts/GloberBold/GloberBold.eot");
			src: url("../fonts/GloberBold/GloberBold.eot?#iefix")format("embedded-opentype"),
			url("../fonts/GloberBold/GloberBold.woff") format("woff"),
			url("../fonts/GloberBold/GloberBold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

  @font-face {
			font-family: "MyriadProRegular";
			src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
			src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
			url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
			url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

  @font-face {
    font-family: 'fontello';
    src: url('../fonts/font/fontello.eot?72737024');
    src: url('../fonts/font/fontello.eot?72737024#iefix') format('embedded-opentype'),
         url('../fonts/font/fontello.woff2?72737024') format('woff2'),
         url('../fonts/font/fontello.woff?72737024') format('woff'),
         url('../fonts/font/fontello.ttf?72737024') format('truetype'),
         url('../fonts/font/fontello.svg?72737024#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
  }

*{
  margin: 0;
  padding: 0;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
}

body{
  width: 1335px;
  margin: 0 auto;

  font-family:'GloberRegular', 'GloberBold', 'GloberLight', 'MyriadProRegular', sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #2a292a;

  background-color: #e2ebee;
}

.button{
  display: inline-block;
  padding: 12px 36px 5px;
  font-size: 16px;
  font-weight: 700;
  font-family:'GloberBold';
  color: #2a292a;

  position: relative;

  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #ffc000;
  border: none;
}

.button::before{
  content: "";

  position: absolute;
  top: 17px;
  left: 0;

  width: 20px;
  height: 2px;
  background-color: #222428;
}

.button::after{
  content: "";

  position: absolute;
  top: 17px;
  right: 0;

  width: 20px;
  height: 2px;
  background-color: #222428;
}

.button:hover,
.button:focus{
  color: #ffc000;
  background-color: #000000;

  -webkit-transition: all 0.3s ease;

  -o-transition: all 0.3s ease;

  transition: all 0.3s ease;
}

.button:hover::before,
.button:focus::before,
.button:hover::after,
.button:focus::after{
  background-color: #ffc000;

  -webkit-transition: 0.7s;

  -o-transition: 0.7s;

  transition: 0.7s;
}

/********

CONTENTS

1. HEADER
2. NAVIGATION
3. MAIN
4. OFFER
5. ARTICLE
6. VIDEO

********/

/*1. HEADER*/

.page-header{
  position: relative;

  background-color: #e6ebef;
  background-image: url("../img/header-picture.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: auto;
  width: 100%;
  height: 114px;
}

.page-header__wrapper{
  width: 1100px;
  margin: 0 auto;
  padding: 0;
  padding-left: 20px;

  -webkit-box-sizing: border-box;

  box-sizing: border-box;
}

.page-header__firs-line{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  padding-top: 6px;
  padding-bottom: 10px;
}

.page-header__logo-block{
  margin-right: 378px;

  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #2a292a;
  font-family:'MyriadProRegular';

  letter-spacing: 0.01em;
}

.page-header__logo-block p{
  margin-top: -6px;
}


.page-header__call-block{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  margin-top: 36px;
  margin-right: 45px;

  font-size: 14px;
  line-height: 19.61px;
  font-weight: 400;
  color: #2a292a;
  font-family:'GloberRegular';
}

.pnone-number{
  position: relative;

  padding-left: 31px;

  font-size: 26px;
  font-weight: 400;
  color: #18a2bd;
  font-family:'GloberRegular';
}

.pnone-number::before{
  content: "";

  position: absolute;
  top: -8px;
  left: -3px;

  width: 26px;
  height: 26px;

  background-image: url("../img/phone-icon.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.page-header__call-block p{
  margin-top: 3px;
}

.call-back{
  margin-top: 35px;
  margin-bottom: 25px;
}

/*2. NAVIGATION*/

.main-nav{
  position: absolute;

  top: 91px;
  left: 117px;

  background-color: #000;
}

.main-nav__list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.site-list__item a{
  display: inline-block;
  padding: 13.5px 18px 11px;

  position: relative;

  font-size: 14px;
  line-height: 19.63px;
  font-weight: 400;
  color: #ffffff;
  font-family:'GloberRegular';

  text-transform: uppercase;
}

.site-list__item:nth-child(2) a{
  padding: 12px 15.5px 12.5px;

  font-family:'MyriadProRegular';
}

.site-list__item:nth-child(4) a{
  padding: 13.5px 10.5px 11px;
}

.site-list__item:nth-child(5) a{
  padding: 14px 15.5px 10.5px;
}

.site-list__item:nth-child(6) a{
  padding: 14px 11px 10.5px;
}

.site-list__item:nth-child(7) a{
  padding: 14px 20.5px 10.5px 22px;
}

.site-list__item:nth-child(8) a{
  padding: 14px 23.5px 10.5px 10.5px;
}

.site-list__item--active a{
  display: inline-block;
  padding: 13.5px 17.5px 11px;

  position: relative;

  font-size: 14px;
  line-height: 19.63px;
  font-weight: 400;
  color: #2a292a;
  font-family:'GloberRegular';

  text-transform: uppercase;

  background-color: #ffc000;
  border: none;
}

.site-list__item a:hover,
.site-list__item a:focus,
.site-list__item a:active{
  font-weight: 400;
  font-family:'GloberRegular';
  color: #2a292a;

  background-color: #ffc000;
  border: none;

  -webkit-transition: 0.4s;

  -o-transition: 0.4s;

  transition: 0.4s;
}

.site-list__item:nth-child(2):hover a{
  font-family:'MyriadProRegular';
}

.site-list__item a:hover::before,
.site-list__item a:focus::before,
.site-list__item a:active::before,
.site-list__item--active a::before{
  content: "";

  position: absolute;
  top: 22px;
  left: 0;

  width: 10px;
  height: 2px;
  background-color: #222428;
}

.site-list__item a:hover::after,
.site-list__item a:focus::after,
.site-list__item a:active::after,
.site-list__item--active a::after{
  content: "";

  position: absolute;
  top: 22px;
  right: 0;

  width: 10px;
  height: 2px;
  background-color: #222428;
}

/*3. MAIN*/

.page-main{
  background-color: #ffffff;
}

/*4. OFFER*/

.offer{
  height: 480px;
  padding-top: 19px;

  background-image: url("../img/main-photo.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

.offer__wrapper{
  width: 1100px;
  margin-left: 95.5px;
  padding-left: 20px;
}

.offer__title{
  padding: 17.5px 87px 10.5px 20.5px;

  font-size: 30px;
  line-height: 42.81px;
  font-weight: 400;
  color: #ffffff;
  font-family:'MyriadProRegular';
  text-transform: uppercase;

  letter-spacing: 0.005em;


  background-color: #18a2bd;
}

/*5. ARTICLE*/

.article{
  width: 641px;
  padding: 6px 0px 38px 21px;

  background-color: #ffffff;
}

.article__title{
  font-size: 26px;
  line-height: 49.18px;
  font-weight: 400;
  color: #18a2bd;
  font-family:'GloberBold';
  text-transform: uppercase;


  background-color: #ffffff;

  -webkit-box-sizing: border-box;

  box-sizing: border-box;
}

.article__name-under{
  margin-top: -3px;
  margin-bottom: 18px;
  padding-left: 1px;

  font-size: 16px;
  font-weight: 700;
  color: #2a292a;
  font-family:'GloberBold';
  text-transform: uppercase;
}

p .article__name-under:last-child{
  margin-bottom: 0;
}

.article__text{
  margin-left: 11px;
  margin-top: -14px;
  padding-left: 2px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #2a292a;
  font-family:'MyriadProRegular';

  background-color: #ffffff;

  border-left: 2px solid #222428;
}

.article__page-first{
  margin-bottom: 4px;
  padding-left: 5px;
  padding-bottom: 10px;
}

.article__page-second,
.article__page-third{
  margin-bottom: 5px;
  padding-left: 5px;
  padding-bottom: 10px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 300;
  color: #2a292a;
  font-family: 'GloberLight';
}

.article__page-third{
  padding-bottom: 0px;
}

.more-info{
  display: block;
  width: 218px;
  padding: 12px 0px 6px;
  margin-left: 200px;
  margin-top: 13px;
}

.icon-down{
  position: absolute;

  top: 33px;
  left: 99px;

  display: block;
  margin: 0 auto;
  margin-top: 10px;
  padding: 4px;

  width: 12px;
  height: 12px;

  background-color: #ffc000;
  border-radius: 50%;
}


.icon-down:hover~.more-info,
.icon-down:hover,
.more-info:hover .icon-down,
.more-info:hover{
  color: #ffc000;
  background-color: #222428;

  -webkit-transition: all 0.3s ease;

  -o-transition: all 0.3s ease;

  transition: all 0.3s ease;
}

.icon-down-open{
  content: ".";

  position: absolute;

  top: 50px;
  left: 0px;
}

/*6. VIDEO*/

.video-info{
  position: relative;

  background-color: #18a2bd;
}

.video-info::before{
  content: "";

  position: absolute;
  bottom: 124px;
  left: 0px;

  width: 254px;
  height: 135px;

  background-image: url("../img/product.png");
  background-position: bottom left;
  background-repeat: no-repeat;
}

.video-info__wrapper{
  width: 1100px;
  margin: 0 auto;
  margin-top: -20px;
  padding-left: 35px;
  padding-top: 76px;
  padding-bottom: 22px;
}

.video-info__title{
  font-size: 26px;
  font-weight: 400;
  color: #ffffff;
  font-family:'GloberRegular';
  text-transform: uppercase;
}

.video-info__title-small{
  font-size: 16px;
  line-height: 32.3px;
  font-weight: 400;
  color: #ffffff;
  font-family:'GloberRegular';
  text-transform: uppercase;
}
